@model MODEL.ViewPage.LoginUser
@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>

    <title>@ViewBag.SiteName</title>

    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport' />

    <!--[if lt IE 9]>

        <script src="~/Scripts/Back/Common/html5shiv.js"></script>

    <![endif]-->


    @Styles.Render("~/Content/Back/base/css")
    <link href="~/Content/Back/css/jquery.loadmask.css" rel="stylesheet" />
    <style type="text/css">
        .field-validation-error {
            color: #b94a48;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            margin-top: 10px;
            display: block;
            margin-bottom: 10px;
        }

        .input-validation-error {
            border-color: #b94a48 !important;
        }
    </style>

    <script src="~/Scripts/Back/Common/jquery-1.7.1.js"></script>
    <script src="~/Scripts/Back/Common/jquery.unobtrusive-ajax.js"></script>
    <script src='/Scripts/Back/Common/common.js' type='text/javascript'></script>
    <script src='/Scripts/Back/Common/LG.js' type='text/javascript'></script>

    <!-- / bootstrap -->
    <script src='/Scripts/Back/bootstrap/bootstrap.min.js' type='text/javascript'></script>
    <!-- / validate -->
    <script src='/Scripts/Back/plugins/validate/jquery.validate.js' type='text/javascript'></script>
    <script src="~/Scripts/Back/plugins/validate/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/Back/Common/jquery.loadmask.js"></script>


    <script type="text/javascript">
        function loginCheck(obj) {
            var $button = $(obj)
            var $form = $button.closest('form');
            if ($form.valid())
                loadingmask();
        }
        function Success(jsonData, statusMsg, GeneralMsgObj) {
            $("#Login").button("loading");
            if (!jsonData.IsError)// 如果提交成功则隐藏进度条
            {
                if (jsonData.IsLink) {
                    window.location = jsonData.Message;
                }
                else {
                    alert(jsonData.Message);
                    $("#Login").button('reset');
                    loadingunmask();
                }
            }
            else {
                LG.tipError(jsonData.Message);
                $("#Login").button('reset');
                loadingunmask();
            }

        }
        function fn() {

        }
        $(function () {
            loadcss();
        });
    </script>

    <script>
        function styleOnload(node, callback) {
            // for IE6-9 and Opera
            if (node.attachEvent) {
                node.attachEvent('onload', callback);
                // NOTICE:
                // 1. "onload" will be fired in IE6-9 when the file is 404, but in
                // this situation, Opera does nothing, so fallback to timeout.
                // 2. "onerror" doesn't fire in any browsers!
            }
                // polling for Firefox, Chrome, Safari
            else {
                setTimeout(function () {
                    poll(node, callback);
                }, 0); // for cache
            }
        }
        function poll(node, callback) {
            if (callback.isCalled) {
                return;
            }
            var isLoaded = false;
            if (/webkit/i.test(navigator.userAgent)) {//webkit
                if (node['sheet']) {
                    isLoaded = true;
                }
            }
                // for Firefox
            else if (node['sheet']) {
                try {
                    if (node['sheet'].cssRules) {
                        isLoaded = true;
                    }
                } catch (ex) {
                    // NS_ERROR_DOM_SECURITY_ERR
                    if (ex.code === 1000) {
                        isLoaded = true;
                    }
                }
            }
            if (isLoaded) {
                // give time to render.
                setTimeout(function () {
                    callback();
                }, 1);
            }
            else {
                setTimeout(function () {
                    poll(node, callback);
                }, 1);
            }
        }
        // 我的动态创建LINK函数
        function createLink(cssURL, lnkId, charset, media) {
            var head = document.getElementsByTagName('head')[0],
                linkTag = null;
            if (!cssURL) {
                return false;
            }
            linkTag = document.createElement('link');
            linkTag.setAttribute('id', (lnkId || 'dynamic-style'));
            linkTag.setAttribute('rel', 'stylesheet');
            linkTag.setAttribute('charset', (charset || 'utf-8'));
            linkTag.setAttribute('media', (media || 'all'));
            linkTag.setAttribute('type', 'text/css');
            linkTag.href = cssURL;
            head.appendChild(linkTag);
            return linkTag;
        }
        function getLink(i) {

            var link = document.getElementsByTagName('link')[i];
            return link;
        }
        function loadcss() {
            var styleNode = getLink(0);
            styleOnload(styleNode, function () {
                loadingunmask();
            });
        }
    </script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body class='contrast-fb sign-in contrast-background'>
    @using (Ajax.BeginForm(new AjaxOptions()
             {
                 Url = "Login",
                 HttpMethod = "post",
                 OnSuccess = "Success",
                 LoadingElementId = "divMsg"

             }))
    {
        <div id='wrapper'>

            <div class='application'>

                <div class='application-content'>

                    <a href="sign_in.html">
                        <div class='icon-heart'></div>

                        @*   <span>傲鲨汽车生活馆管理系统</span>*@

                    </a>

                </div>

            </div>

            <div class='controls'>

                <div class='caret'></div>

                <div class='form-wrapper'>

                    <h1 class='text-center'>@ViewBag.SiteName</h1>

                    <div style="margin: 0; padding: 0; display: inline">
                        <input name="utf8" type="hidden" value="&#x2713;" />
                    </div>

                    <div class='row-fluid'>

                        <div class='span12 icon-over-input'>
                            @Html.TextBoxFor(u => u.UserName, new { Value = "", @class = "span12", @placeholder = "用户名" })

                            <i class='icon-user muted'></i>
                            @Html.ValidationMessageFor(model => model.UserName)
                        </div>

                    </div>

                    <div class='row-fluid'>

                        <div class='span12 icon-over-input'>
                            @Html.PasswordFor(u => u.Password, new { Value = "", @class = "span12", @placeholder = "密码" })
                            <i class='icon-lock muted'></i>
                            @Html.ValidationMessageFor(model => model.Password)
                        </div>

                    </div>

                    <label class="checkbox" for="remember_me">
                        <input id="remember_me" name="remember_me" type="checkbox" value="1" />

                        记住我

                    </label>
                    <input type="submit" id="Login" class="btn btn-block" value="登录" data-loading-text="Loading..." onclick="loginCheck(this)" />


                    <div class='text-center'>

                        <hr class='hr-normal' />

                        <a href="forgot_password.html">忘记密码?</a>

                    </div>

                </div>

            </div>

            <div class='login-action text-center '>

                <a href="#">

                    理性购彩，热心公益，弘扬国彩文化，坚决抵制黑彩。

            <strong></strong>

                </a>

            </div>
          


        </div>
    }
    <!-- / jquery -->


</body>

</html>
