@model MODEL.ViewModel.VIEW_TG_order
@{
    Layout = "~/Areas/Admin/Views/Shared/_right.cshtml";
}
<script src='/Scripts/Back/plugins/datatables/jquery.dataTables.columnFilter.js' type='text/javascript'></script>
<script src='/Scripts/Back/tables.js' type='text/javascript'></script>
<script src="~/Scripts/Back/plugins/validate/jquery.validate.js"></script>
<script src='/Scripts/Back/plugins/validate/jquery.validate.unobtrusive.js' type='text/javascript'></script>
@section scripts
{
    <style>
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }

        input::-webkit-outer-spin-button {
            -webkit-appearance: none;
        }
    </style>
    <style type="text/css">
        .b2 {
            width: 40px;
            height: 13px;
            border-left: 1px solid #CCC;
            border-bottom: 1px solid #CCC;
            margin: -2px 10px 0px 37px;
            float: left;
        }

        .c2 a:hover {
            color: #ff6600;
        }

        .c3 {
            padding-left: 17px;
            background: url(/content/back/images/icon_sec.gif) 0 1px no-repeat;
            margin-left: 10px;
            color: #ff6600;
        }

            .c3 a {
                color: #ff6600;
                text-decoration: none;
            }

                .c3 a:hover {
                    text-decoration: underline;
                }

        .b3 {
            width: 90px;
            height: 21px;
            float: left;
            margin-right: 5px;
            margin-left: 37px;
            background: url(/content/back/images/sec_fir.gif) no-repeat;
        }

        .b4 {
            width: 90px;
            height: 21px;
            float: left;
            margin-right: 5px;
            margin-left: 37px;
            background: url(/content/back/images/sec_sec.gif) no-repeat;
        }

        .b5 {
            width: 40px;
            height: 21px;
            float: left;
            margin-right: 5px;
            margin-left: 37px;
            background: url(/content/back/images/third.gif) no-repeat;
        }
    </style>

    <script type="text/javascript">
        var rootPath = "@Url.Content("~/Admin/")";
        var table = "#prdtable";
        var gridUrl = rootPath + 'Product/GetProductForGrid';
        $(document).ready(function () {
            $('#UserId').select2({})
            $('#remark3').select2({})
            var t = $('#thingtb').DataTable();
            $('#thingtb tbody').on('click', 'tr', function () {
                $(this).toggleClass('info selectprd');
            });
            //TablePage();
            var dt = $(table).dataTable({
                "processing": true,
                "serverSide": true,
                "ordering": true,
                "order": [[1, "asc"]],
                "ajax": {
                    "url": gridUrl,
                    "type": "POST"
                },
                "columns": [
                     { "data": "PRD_CD", "orderable": false },
                      { "data": "SEQ_NO", "orderable": "SEQ_NO" },
                     { "data": "PRD_CD", "name": "[Contains]{main}PRD_CD", "orderable": false },
                    { "data": "PRD_NAME", "name": "[Contains]{main}PRD_NAME", "orderable": "PRD_NAME" },
                    { "data": "PRICE" },
                    { "data": "CATEGORY_NAME", "name": "[Contains]{main}MST_CATEGORY.CATEGORY_NAME", "orderable": "MST_CATEGORY.CATEGORY_NAME" },
                    { "data": "PRD_CD" },
                     { "data": "SEQ_NO", "orderable": "SEQ_NO", "visible": false },

                ],
                "columnDefs": [
                      {
                          "render": function (data, type, row) {
                              return ' <input name="prd_chk" class="chk" type="checkbox" value="' + data + '" >';
                          },
                          "targets": 0
                      },
                      {
                          "render": function (data, type, row) {
                              return data + ' <input name="price" type="hidden" value="' + data + '" >';
                          },
                          "targets": 4
                      },
                         {
                             "render": function (data, type, row) {
                                 return ' <input name="prd_qty" class="' + data + '_qty" type="text" value="1" style="width:20px">';
                             },
                             "targets": 6
                         },
                ]

            });
            $(table + ' tbody').on('click', 'tr', function () {
                if ($(this).find(".chk").is(':checked'))
                    $(this).addClass('info');
                else
                    $(this).removeClass('info');
            });
            $('#prdsave').click(function () {
                var sum = 0;
                var data = dt.DataTable().rows('.info').data();
                $.each(data, function (i, field) {
                    var qty = $("." + field.PRD_CD + "_qty").val();
                    var totalprice = qty * field.PRICE;
                    //alert(field.PRD_CD + ":" + field.PRICE + " " + $("." + field.PRD_CD + "_qty").val());
                    sum = sum + totalprice;
                    t.row.add([
                        field.PRD_CD + '<input name="productID"  type="hidden" value="' + field.PRD_CD + '" >',
                        field.PRD_NAME + '<input name="productName"  type="hidden" value="' + field.PRD_NAME + '" >',
                        qty + '<input name="productCount"  type="hidden" value="' + qty + '" >',
                        field.PRICE + '<input name="productPrice"  type="hidden" value="' + field.PRICE + '" >',
                        totalprice + '<input name="productMoney"  type="hidden" value="' + totalprice + '" >',
                    ]).draw(false);

                    $("#prd_cds").val(1); $("#qtys").val(1);
                });
                //sum = sum + parseInt($("#totalprice").val());
                //$("#totalSalary").html("(应付: ￥" + sum + ")");
                //$("#remark5").val("(应付: ￥" + sum + ")");
                //$("#totalprice").val(sum);
                //$("#yunPrice").val(0);
                //$("#total_fee").val(sum);
                calcprice();
                $("#prdclose").click();
                dt.DataTable().ajax.reload();


                return false;
            });
        });
        function calcprice(flag) {
            var totalprice = 0;
            $("#thingtb tbody tr").each(function () {
                totalprice = ToInt(totalprice) + ToInt($(this).find("[name='productMoney']").val());
            });
            if (flag != true)
                $("#total_fee").val(totalprice);
            var total_fee = ToInt($("#total_fee").val());
            if (total_fee == 0) {
                $("#total_fee").val(totalprice);
                total_fee = totalprice;
            }
            var diffprice = totalprice - total_fee;
            if (diffprice >= 0) {
                $("#totalSalary").html("(应付: ￥" + totalprice + "  优惠：" + diffprice + ")");
                $("#remark4").val("(应付: ￥" + totalprice + "  优惠：" + diffprice + ")");
            } else {
                $("#totalSalary").html("(应付: ￥" + totalprice + "  加价：" + (diffprice / -1) + ")");
                $("#remark4").val("(应付: ￥" + totalprice + "  加价：" + (diffprice / -1) + ")");
            }
            $("#yunPrice").val(diffprice);
        }
        function calcprice2() {
            var total_fee = ToInt($("#total_fee2").val());
            var totalprice = ToInt($("#totalprice2").val());
            var diffprice = totalprice - total_fee;
            if (diffprice >= 0) {
                $("#totalSalary2").html("(应付: ￥" + totalprice + "  优惠：" + diffprice + ")");
                $("#remark5").val("(应付: ￥" + totalprice + "  优惠：" + diffprice + ")");
            } else {
                $("#totalSalary2").html("(应付: ￥" + totalprice + "  加价：" + (diffprice / -1) + ")");
                $("#remark5").val("(应付: ￥" + totalprice + "  加价：" + (diffprice / -1) + ")");
            }
            $("#yunPrice2").val(diffprice);
        }
        function select2icon(state) {
            if (state.id == undefined) { return state.id; }
            if (state.id == "") { return state.text; }
            var $state = $(
              '<span><i class=' + state.text + '></i> .' + state.text + '</span>'
            );
            return $state;
        };
        function formatResult(state) {
            //  alert(state.text);
            if (!state.id) { return state.text; }
            var $state = $(
              '<div class="select2-user-result"><span  class="' + state.style + '"></span> ' + state.text + '</div>'
            );
            return $state;
        };
        function formatLevel(state) {
            //  alert(state.text);
            if (state.id == undefined) { return state.id; }
            if (state.id == "") { return state.text; }
            var $state = $(state.text);
            return $state;
        };
        function formatSelection(state) {
            //  alert(state.text);
            if (state.id == undefined) { return state.id; }
            if (state.id == "") { return state.text; }
            var $state = $(state.text).text();
            return $state;
        };
        function DelPrd() {

            var selected = $('#thingtb').DataTable().rows('.info').data()[0];
            $('#thingtb').DataTable().rows('.info').remove().draw(false);
            if (selected) {
                calcprice();
                return
            }


        }
    </script>
}
<div class='container-fluid'>
    <div class='row-fluid' id='content-wrapper'>
        <div class='span12'>
            <div class='page-header'>
                <h1 class='pull-left'>
                    <i class='icon-money'></i>
                    <span>订单详细</span>
                    <span class='muted'></span>
                </h1>
            </div>
            <div class='row-fluid invoice'>
                <div class='span12 box'>
                    <div class='box-content box-double-padding'>
                        <div class='row-fluid'>
                            <div class='invoice-header'>
                                <div class='invoice-title'>
                                    @Model.orderNum
                                    <span class='muted'>.</span>
                                </div>
                                <div class='invoice-number'>
                                    <div class="pull-right">
                                        @if (Model.ispay == 0)
                                        {
                                            <a class="btn btn-warning" href="#">挂单中</a>
                                        }
                                        else if (Model.ispay == 1)
                                        {
                                            <a class="btn btn-warning" href="#">处理中</a>
                                        }
                                        else if (Model.ispay == 2)
                                        {
                                            <a class="btn btn-danger" href="#">撤单</a>
                                        }
                                        else if (Model.ispay == 3)
                                        {
                                            <a class="btn btn-success" href="#">完成订单</a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        @if (ViewBag.TYPE == "Add")
                        {
                            using (Ajax.BeginForm("", null, new AjaxOptions()
                            {
                                Url = "/Admin/Order/Add",
                                HttpMethod = "post",
                                OnSuccess = "Success",
                                LoadingElementId = "divMsg",
                                OnBegin = "OnBeginSubmit"

                            }, new { id = "", @class = "form" }))
                            {
                            @Html.HiddenFor(o => o.orderNum);
                            @Html.HiddenFor(o => o.ThingNum);
                            @Html.HiddenFor(o => o.trade_type);
                            <div class='row-fluid'>
                                <div class='span4 seller'>
                                    <div class='lead text-contrast'>客户</div>
                                    <i class='icon-globe'></i>
                                    <address>
                                        @if (ViewBag.TYPE == "Add")
                                        {
                                            @Html.DropDownListFor(c => c.UserId, ViewBag.MEMBERS as List<SelectListItem>, new { @class = "input-validation-error" })
                                            @Html.ValidationMessageFor(m => m.UserId)
                                        }
                                        else
                                        {
                                            @Model.userName
                                        }
                                        <br />
                                        <br />
                                        <small>@Model.UserTel</small>
                                    </address>
                                </div>
                                <div class='span4 buyer'>
                                    <div class='lead text-contrast'>公司</div>
                                    <i class='icon-globe'></i>
                                    <address>
                                        @if (ViewBag.TYPE == "Add")
                                        {
                                            @Html.DropDownListFor(c => c.remark3, ViewBag.COMPANYS as List<SelectListItem>, new { @class = "input-validation-error" })
                                            @Html.ValidationMessageFor(c => c.remark3)
                                        }
                                        else
                                        {
                                            @Model.remark2
                                        }
                                        <br />
                                        <br />
                                        <small>
                                            @Model.UserAddress
                                        </small>
                                        <br />
                                    </address>
                                    <br />
                                    <br />
                                </div>
                                <div class='span4 info'>

                                    <div class='lead muted'>信息</div>

                                    下单时间:

                    <strong>@Model.orderTime</strong>
                                    <br />
                                    支付时间:
                    <strong>@(Model.payTime)</strong>
                                </div>
                            </div>
                            <div class='row-fluid'>
                                <div class='span12'>
                                    <div class="">
                                        <a class="btn btn-info" data-toggle="modal" href="#modal-example2" role="button">添加项目</a>
                                        <button class='btn btn-primary' onclick="DelPrd()" type="button">删除项目</button>

                                    </div>
                                    <div class='responsive-table'>
                                        <div class='scrollable-area'>
                                            <table id="thingtb" class='table '>
                                                <thead>
                                                    <tr>
                                                        <th>项目ID</th>
                                                        <th>项目名称</th>
                                                        <th>数量
                                                        </th>
                                                        <th>单价
                                                        </th>

                                                        <th>总价格

                                                        </th>

                                                    </tr>

                                                </thead>

                                                <tbody>
                                                </tbody>

                                            </table>

                                        </div>

                                    </div>

                                </div>

                            </div>
                            @Html.TextBoxFor(o => o.prd_cds, new { @class = "input-validation-error select2-hidden-accessible" })
                            @Html.ValidationMessageFor(o => o.prd_cds)
                            @Html.TextBoxFor(o => o.qtys, new { @class = "input-validation-error select2-hidden-accessible" })
                            @Html.ValidationMessageFor(o => o.qtys)
                            <input type="hidden" id="totalprice" value="0" />
                            <hr class='hr-normal' />

                            <div class='row-fluid'>

                                <div class='span12'>

                                    <div class='text-right '>
                                        <div class='text-right text-contrast subtotal'>


                                            <h2 id="totalSalary" class="subtotal contrast">(应付: ￥@Model.total_fee)</h2>
                                        </div>
                                           
                                        <div class="controls">
                                            <div class="input-prepend input-append">
                                                <span class="add-on">实付：￥</span>
                                                <input type="number" id="total_fee" name="total_fee"  style="min-height:30px;"  onblur="calcprice(true)"  class="span6 text-right" value="@Model.total_fee" min="0"  />

                                                <span class="add-on">.00</span>

                                            </div>
                                            @Html.HiddenFor(o => o.yunPrice)
                                            @Html.HiddenFor(o => o.remark4)
                                        </div>


                                    </div>

                                </div>

                            </div>

                            <div class='row-fluid'>

                                <div class='span12'>

                                    <div class='form-actions' style='margin-bottom: 0;'>
                                        <div class='text-left'>
                                            <div class="controls">

                                                @Html.TextBoxFor(o => o.remark6, new { @placeholder = "备注信息", @class = "span12" })
                                            </div>
                                        </div>
                                        <div class='text-right'>
                                            <button class='btn btn-large' type='button' onclick="Jump(@ViewBag.ReturnUrl)">

                                                <i class='icon-mail-reply '></i>

                                                返回

                                            </button>
                                            <button class='btn btn-primary btn-large' type="submit">

                                                <i class='icon-save '></i>

                                                Save

                                            </button>


                                        </div>

                                    </div>

                                </div>

                            </div>
                            
                           
                            }
                        }
                        else
                        {
                            <div class='row-fluid'>

                                <div class='span4 seller'>

                                    <div class='lead text-contrast'>客户</div>

                                    <i class='icon-globe'></i>

                                    <address>
                                        <strong>

                                            @Model.UserId

                                        </strong>

                                        <br />
                                        <strong>

                                            @Model.userName

                                        </strong>

                                        <br />
                                        <br />

                                        <small>@Model.UserTel</small>

                                    </address>

                                </div>

                                <div class='span4 buyer'>

                                    <div class='lead text-contrast'>价格区间</div>

                                    <i class='icon-globe'></i>

                                    <address>

                                        <strong>

                                           @Model.remark1   ~   @Model.remark2

                                        </strong>

                                        <br />

                                        <br />
                                        

                                        <br />
                                    </address>


                                    <br />

                                    <br />


                                </div>

                                <div class='span4 info'>

                                    <div class='lead muted'>信息</div>

                                    下单时间:

                    <strong>@Model.orderTime</strong>



                                    <br />

                                    支付时间:

                    <strong>@(Model.payTime)</strong>
                                </div>

                            </div>

                            <div class='row-fluid'>

                                <div class='span12'>
                                    <div class='responsive-table'>

                                        <div class='scrollable-area'>

                                            <table class='table table-striped table-hover table-bordered'>

                                                <thead>
                                                    <tr>
                                                        <th>项目ID</th>
                                                        <th>项目名称</th>
                                                        <th>
                                                            <div class='text-center'>数量</div>
                                                        </th>
                                                        <th>
                                                            <div class='text-right'>起始价格</div>
                                                        </th>
                                                        <th>
                                                            <div class='text-right'>结束价格</div>
                                                        </th>
                                                      

                                                    </tr>

                                                </thead>

                                                <tbody>

                                                    @foreach (var item in ViewBag.Things)
                                                    {
                                                        <tr>

                                                            <td>@item.productId</td>

                                                            <td>@item.remark1</td>

                                                            <td>

                                                                <div class='text-center'>@item.productCount</div>

                                                            </td>

                                                            <td>

                                                                <div class='text-right'>$@Model.remark1 </div>

                                                            </td>

                                                            <td>

                                                                <div class='text-right'>$@Model.remark2 </div>

                                                            </td>
                                                            
                                                        </tr>
                                                    }



                                                </tbody>

                                            </table>

                                        </div>

                                    </div>

                                </div>

                            </div>

                            <hr class='hr-normal' />
                                                    using (Ajax.BeginForm("", null, new AjaxOptions()
                                                   {
                                                       Url = "/Admin/Order/FinishOrder",
                                                       HttpMethod = "post",
                                                       OnSuccess = "Success",
                                                       LoadingElementId = "divMsg",
                                                       OnBegin = "OnBeginSubmit"

                                                   }, new { id = "", @class = "form" }))
                                                    {
                            <input type="hidden" id="totalprice2" value="@(Model.total_fee + Model.yunPrice)" />
                            @Html.HiddenFor(o => o.orderNum)
                            <div class='row-fluid'>

                                <div class='span12'>

                                    <div class='text-right '>
                                        <div class='text-right text-contrast subtotal'>


                                         @*   <h2 id="totalSalary2" class="subtotal contrast">(应付: ￥@(Model.total_fee + Model.yunPrice)  优惠：@Model.yunPrice )</h2>*@


                                        </div>
                                
                                        <div class="controls">

                                            <div class="input-prepend input-append">

                                                <span class="add-on">成交数量</span>
                                                <input type="number"  id="flat2" name="flat2" @(Model.ispay == 3 ? "disabled" : "")     style="min-height:30px;"  class="span6 text-right" value="@Model.flat2" min="0"  />

                                            </div>
                                        </div>
                                        <div class="controls">

                                            <div class="input-prepend input-append">

                                                <span class="add-on">成交单价</span>
                                                <input type="number"  id="yunPrice" name="yunPrice" @(Model.ispay == 3 ? "disabled" : "")  style="min-height:30px;"  class="span6 text-right" value="@Model.yunPrice" min="0.00"  step="0.01"/>
                                                
                                            </div>
                                        </div>
                                         <div class="controls">

                                            <div class="input-prepend input-append">

                                                <span class="add-on">手续费</span>
                                                <input type="number"  id="total_fee1" name="total_fee" @(Model.ispay == 3 ? "disabled" : "")    style="min-height:30px;"  class="span6 text-right" value="@Model.total_fee" min="0.00" step="0.01" />
                                           
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>

                            <div class='row-fluid'>

                                <div class='span12'>

                                    <div class='well comment'>
                                        @if (Model.ispay < 3)
                                        {
                                            <div class="controls">

                                                @Html.TextBoxFor(o => o.remark6, new { @placeholder = "备注信息", @class = "span12" })
                                            </div>
                                        
                                            <div class='text-right'>
                                                 <input id="IsNotice" name="IsNotice" type='checkbox' value='true' />
                                                是否通知客户
                                                <button class='btn btn-primary btn-large' name="ONLINE" type="submit">

                                                    <i class='icon-save '></i>

                                                    完成订单

                                                </button>

                                            </div>
                                        }
                                        else
                                        {
                                            @Model.remark6
                                        }
                                    </div>

                                </div>

                            </div>
                                                    }

                        }
                        <div class='modal hide fade' id='modal-example2' role='dialog' tabindex='-1'>

                            <div class='modal-header'>

                                <button class='close' data-dismiss='modal' type='button'>&times;</button>

                                <h3>选择项目</h3>

                            </div>

                            <div class='modal-body'>

                                <form class='form' style='margin-bottom: 0;'>

                                    <table id="prdtable" class='table table-striped table-hover table-bordered' style="width: 100%;">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>序号</th>
                                                <th>商品ID</th>
                                                <th>商品名称</th>
                                                <th>单价</th>
                                                <th>所属分类</th>
                                                <th>数量</th>
                                            </tr>
                                        </thead>

                                    </table>

                                </form>

                            </div>

                            <div class='modal-footer'>

                                <button id="prdclose" class='btn' data-dismiss='modal'>关闭</button>

                                <button id="prdsave" class='btn btn-primary'>加入订单</button>

                            </div>

                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>
