@model MODEL.ViewModel.VIEW_VIEW_WeChatUser
@{
    ViewBag.Title = "DelegateList";
    Layout = null;
}
<html>
<head>
   	<title>交易</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
	<!--忽略将页面中的数字识别为电话号码-->
	<meta name="format-detection" content="telephone=no" />
	<!--忽略Android平台中对邮箱地址的识别-->
	<meta name="format-detection" content="email=no" />
	<!--当网站添加到主屏幕快速启动方式，可隐藏地址栏，仅针对ios的safari-->
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="msapplication-tap-highlight" content="no">
	<!--css-->
    <link href="~/Content/BIMI/css/base.css" rel="stylesheet" />
    <link href="~/Content/BIMI/css/common.css" rel="stylesheet" />
    <link href="~/Content/BIMI/css/style.css" rel="stylesheet" />

	<!--js-->
    <script src="~/Content/BIMI/js/jquery.1.9.1.js"></script>

    	<script type="text/javascript">
    	    function clk(obj) {
    	        var ck = $("#myModal")

    	        $("#orderNum").html(($(obj).find("[class='orderNum']").val()));
    	        $("#qujian").html(($(obj).find("[class='remark1']").val()) + " ~ " + ($(obj).find("[class='remark2']").val()));
    	        $("#remark1").html(($(obj).find("[class='remark1']").val()));
    	        $("#flat2").html(($(obj).find("[class='flat2']").val()));
    	        $("#remark2").html(($(obj).find("[class='remark2']").val()));
    	        $("#orderTime").html(($(obj).find("[class='orderTime']").val()));
    	        $("#payTime").html(($(obj).find("[class='payTime']").val()));
    	        ck.css("display", "block")
    	    }
    	    function cle() {
    	        var ck = $("#myModal")
    	        ck.css("display", "none")
    	    }

    	    function disp_confirm() {
    	        var myDate = new Date();
    	    
    	        var hour = myDate.getHours();
                if (hour < 11 || hour > 18)
                    alert("当前时间不可撤单交易")
                else {
                    var r = confirm("确认要撤销当前委托？")
                    if (r == true) {
                        window.location = "/BIMI/CanceOrder";
                    }
                    else {
                        //document.write("You pressed Cancel!")
                    }
                }
    	    }
	</script>
</head>
<body>
    
    <div id="wrapper">
      @*  <header class="header_br">
            <div class="desc">交易</div>
        </header>*@
        <section>
            <div class="nav">
                <ul class="us-tab-list clearfix">
					<li ><a href="/BIMI/UserMain">持仓</a></li>
					<li class="active"><a href="/BIMI/DelegateList">当日委托</a></li>
					<li><a href="/BIMI/OrderList">成交记录</a></li>
					<li><a href="/BIMI/CashList">提现记录</a></li>
				<p class="hint">&nbsp;@Model.userRelname&nbsp;|&nbsp美金&nbsp|&nbsp现金账户：@Model.userNum&nbsp;<a href="/BIMI/UpdatePwd" ><span>修改密码</span></a>&nbsp;</p>
				</ul>

                	<div class="us-tab-con">

					<div class="t_delegate">
						<div class="t_delegate_main">
							
							<h4>交易订单中<button class="right revoke_btn" onclick="disp_confirm()">撤&nbsp;单</button></h4>
							<!-- 模态框 -->
							<div id="myModal" class="modal">

								<!-- Modal content -->
								<div class="modal-content">
									<div class="modal-header">
										<span class="close" onclick="cle()">X</span>
										<h2>订单详情</h2>
									</div>
									<div class="modal-body">
										<p class="clearfix"><span>客户编码</span><span>:</span><span>@Model.userNum</span></p>
										<p class="clearfix"><span>委托编码</span><span>:</span><span  id="orderNum">353540</span></p>	
										<p class="clearfix"><span>证券名称</span><span>:</span><span>博琪医药</span></p>
										<p class="clearfix"><span>证券代码</span><span>:</span><span>BIMI</span></p>
										<p class="clearfix"><span>交易类型</span><span>:</span><span>限价盘</span></p>
										<p class="clearfix"><span>委托价格</span><span>:</span><span class="red_t" id="qujian">7.30~7.05</span></p>
										<p class="clearfix"><span>委托数量</span><span>:</span><span class="red_t"  id="flat2">100</span></p>
										<p class="clearfix"><span>市场</span><span>:</span><span>美股</span></p>
										<p class="clearfix"><span>状态</span><span>:</span><span>交易中</span></p>
									    <p class="clearfix"><span>证券操作</span><span>:</span><span class="red_t">卖出</span></p>
									</div>
									<div class="modal-footer">
										<h3>委托时间<span class="right"  id="orderTime">2019/03/28|23:12:00</span></h3>
									</div>
								</div>

							</div>
							<!-- 模态框 -->
                            @foreach (var item in ViewBag.OrderList)
                                {
							<div class="t_record mt05" onclick="clk(this)">
								<h5><span class="icon_green">交易中</span>博琪医药 &nbspBIMI.US <span class="right">@item.orderTime.ToString("HH:mm:ss")</span></h5>
								<p>委托价格 <span class="right">@item.remark1 - @item.remark2</span></p>
								<p>卖出数量 <span class="right">卖出 @item.flat1 股</span></p>
                                    <input type="hidden" class="orderNum" value="@item.orderNum" />
                                       <input type="hidden" class="remark1" value="@item.remark1" />
                                          <input type="hidden" class="flat2" value="@item.flat2" />
                                        <input type="hidden" class="remark2" value="@item.remark2" />
                                            <input type="hidden" class="orderTime" value="@item.orderTime" />
                                        <input type="hidden" class="payTime" value="@item.payTime" />
							</div>
                            }
						
							
                         @*   <h4>撤单订单</h4>
								<div class="t_record mt05">
								<h5><span class="icon_red">撤单</span>能发伟业 &nbspBIMI.US <span class="right">15:17:13</span></h5>
								<p>委托价格 <span class="right">8.20-8.30</span></p>
								<p>卖出数量 <span class="right">卖出1000股</span></p>
							</div>*@
						</div>
					</div>

				</div>
        </section>

    </div>
    <script type="text/javascript" src="/Content/AoShaCar/AmazeUI-2.3.0/js/jquery.min.js"></script>
    <script type="text/javascript" src="/Content/AoShaCar/AmazeUI-2.3.0/js/amazeui.min.js"></script>
    <script type="text/javascript">
        $(function () {

        });
    </script>
</body>
<div style="display: none;"></div>
</html>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
    var weixintitle = '';
    var weixindesc = 'AOSHA';
    var weixinlink = 'http://vip.kemeimei.cn/vip/?a=lbs_list&m=order_shopindex&vip=Mw%3D%3D';
    var weixinimgUrl = 'http://img4.wsb100.com/kemeimei/vip/3/images/2015/06/05/5571041d13bdb.png';
    //
    function updateC(ac) {

        //   var url = 'http://vip.kemeimei.cn/vip/?a=visit_count&m=order_baseindex&vip=Mw%3D%3D&click=' + ac;
        //$.get(url, function (data) {


        //    //alert(1);
        //});

    }



    wx.config({
        //debug: true,
        appId: 'wx227c2c5bd14dd47d',
        timestamp: 1478689324,
        nonceStr: '21108qOBwAw53uYs',
        signature: '236b33bd5af08a2a7dc8fa2c7e325dad0f406301',
        jsApiList: [
                'checkJsApi',
                'onMenuShareTimeline',
                'onMenuShareAppMessage',
                'onMenuShareQQ',
                'onMenuShareWeibo'
        ]
    });
    wx.ready(function (res) {

        // 1 判断当前版本是否支持指定 JS 接口，支持批量判断
        wx.checkJsApi({
            jsApiList: [
              'onMenuShareAppMessage'
            ],
            success: function (res) {
                //alert(JSON.stringify(res));
                if (res.checkResult.onMenuShareAppMessage != true) {
                    alert('亲！您的微信版本过低了！请升级吧！');
                }
            }
        });

        // 2. 分享接口
        // 2.1 监听“分享给朋友”，按钮点击、自定义分享内容及分享结果接口
        wx.onMenuShareAppMessage({
            title: weixintitle,
            desc: weixindesc,
            link: weixinlink,
            imgUrl: weixinimgUrl,
            trigger: function (res) {
                //alert('点击发送给朋友');
            },
            success: function (res) {
                //alert('已分享');
                updateC('sfriend');
            },
            cancel: function (res) {
                // alert('已取消');
            },
            fail: function (res) {
                //alert(JSON.stringify(res));
            }
        });



        // 2.2 监听“分享到朋友圈”按钮点击、自定义分享内容及分享结果接口
        wx.onMenuShareTimeline({
            title: weixintitle,
            link: weixinlink,
            imgUrl: weixinimgUrl,
            trigger: function (res) {
                //alert('用户点击分享到朋友圈');
            },
            success: function (res) {
                //alert('已分享');
                updateC('scfriend');
            },
            cancel: function (res) {
                //alert('已取消');
            },
            fail: function (res) {
                //alert(JSON.stringify(res));
            }
        });


        // 2.3 监听“分享到QQ”按钮点击、自定义分享内容及分享结果接口
        wx.onMenuShareQQ({
            title: weixintitle,
            desc: weixindesc,
            link: weixinlink,
            imgUrl: weixinimgUrl,
            trigger: function (res) {
                //alert('用户点击分享到QQ');
            },
            complete: function (res) {
                //alert(JSON.stringify(res));
            },
            success: function (res) {
                //alert('已分享');
                updateC('sqq');
            },
            cancel: function (res) {
                //alert('已取消');
            },
            fail: function (res) {
                //alert(JSON.stringify(res));
            }
        });


        // 2.4 监听“分享到微博”按钮点击、自定义分享内容及分享结果接口
        wx.onMenuShareWeibo({
            title: weixintitle,
            desc: weixindesc,
            link: weixinlink,
            imgUrl: weixinimgUrl,
            trigger: function (res) {
                //alert('用户点击分享到微博');
            },
            complete: function (res) {
                //alert(JSON.stringify(res));
            },
            success: function (res) {
                //alert('已分享');
            },
            cancel: function (res) {
                //alert('已取消');
            },
            fail: function (res) {
                //alert(JSON.stringify(res));
            }
        });



    });

    wx.error(function (res) {
        //alert('分享发生错误：'+res.errMsg);
    });

</script>
