@model MODEL.ViewPage.StockSale
@{
    ViewBag.Title = "OrderList";
    Layout = null;
}
<html>
<head>
    <title>交易</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
    <!--忽略将页面中的数字识别为电话号码-->
    <meta name="format-detection" content="telephone=no" />
    <!--忽略Android平台中对邮箱地址的识别-->
    <meta name="format-detection" content="email=no" />
    <!--当网站添加到主屏幕快速启动方式，可隐藏地址栏，仅针对ios的safari-->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="msapplication-tap-highlight" content="no">
    <!--css-->
    <link href="~/Content/Back/css/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Back/css/bootstrap/bootstrap-responsive.css" rel="stylesheet" />
    <link href="~/Content/BIMI/css/base.css" rel="stylesheet" />
    <link href="~/Content/BIMI/css/common.css" rel="stylesheet" />
    <link href="~/Content/BIMI/css/style.css" rel="stylesheet" />
    <link href="~/Content/Back/css/plugins/jgrowl/jquery.jgrowl.css" rel="stylesheet" />
    <!--js-->

    <script src="~/Scripts/Back/Common/jquery-1.7.1.js"></script>
    <script src="~/Scripts/Back/Common/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Content/BIMI/js/common.js"></script>
    <script src='/Scripts/Back/Common/LG.js' type='text/javascript'></script>    
    <script src='/Scripts/Back/bootstrap/bootstrap.min.js' type='text/javascript'></script>
<script src="~/Scripts/Back/plugins/validate/jquery.validate.js"></script>
<script src='/Scripts/Back/plugins/validate/jquery.validate.unobtrusive.js' type='text/javascript'></script>
        <script src='/Scripts/Back/plugins/jgrowl/jquery.jgrowl.js' type='text/javascript'></script>
<script src="~/Scripts/Back/plugins/bootbox/bootbox.min.js"  type='text/javascript'></script>
    <script type="text/javascript">
        function clk(obj) {
            var ck = $("#myModal")

            $("#orderNum").html(($(obj).find("[class='orderNum']").val()));
            $("#yunPrice").html(($(obj).find("[class='yunPrice']").val()));
            $("#flat2").html(($(obj).find("[class='flat2']").val()));
            $("#total_fee").html(($(obj).find("[class='total_fee']").val()));
            $("#orderTime").html(($(obj).find("[class='orderTime']").val()));
            $("#payTime").html(($(obj).find("[class='payTime']").val()));
            ck.css("display", "block")
        }
        function cle() {
            var ck = $("#myModal")
            ck.css("display", "none")
        }

        function onlyNumber(obj) {

            //得到第一个字符是否为负号    
            var t = obj.value.charAt(0);
            //先把非数字的都替换掉，除了数字和.和-号    
            obj.value = obj.value.replace(/[^\d\.\-]/g, '');
            //前两位不能是0加数字      
            obj.value = obj.value.replace(/^0\d[0-9]*/g, '');
            //必须保证第一个为数字而不是.       
            obj.value = obj.value.replace(/^\./g, '');
            //保证只有出现一个.而没有多个.       
            obj.value = obj.value.replace(/\.{2,}/g, '.');
            //保证.只出现一次，而不能出现两次以上       
            obj.value = obj.value.replace('.', '$#$').replace(/\./g, '').replace('$#$', '.');
            //如果第一位是负号，则允许添加    
            obj.value = obj.value.replace(/^(\-)*(\d+)\.(\d\d).*$/, '$1$2.$3');
            if (t == '-') { return; }

        }

    </script>
</head>
<body>

    <div id="wrapper">
      @*  <header class="header_br">
            <div class="desc">交易</div>
        </header>*@
        <section>
            <div class="nav">
                <ul class="us-tab-list clearfix">
                    <li class="active" style="line-height: 40px;"><a href="/BIMI/UserMain">持仓</a></li>
                    <li  style="line-height: 40px;"><a href="/BIMI/DelegateList">当日委托</a></li>
                    <li  style="line-height: 40px;"><a href="/BIMI/OrderList">成交记录</a></li>
                    <p class="hint"><span>&diams;&nbsp横华国际&nbsp</span>|&nbsp美金&nbsp|&nbsp现金账户：@ViewBag.userNum</p>
                </ul>

                <div class="sale_table mt20">
                    @using (Ajax.BeginForm("", null, new AjaxOptions()
                        {
                            Url = "/BIMI/SubmitOrder",
                            HttpMethod = "post",
                            OnSuccess = "Success",
                            LoadingElementId = "divMsg"

                        }, new { id = "prdForm", @class = "form form-horizontal" }))
                    {
  
                        <table border="0" cellspacing="0" cellpadding="0">
                            <tr class="th">
                                <th>价格区间</th>
                                <th>股票数量</th>
                            </tr>
                            <tr>
                                <td class="left_br">
                                   
                                    @Html.TextBoxFor(p => p.startPrice, new { @placeholder = "起始价格", @min = "0.00", @step = "0.01",@style="width: 35%;height: 50",@type="number" })~ @Html.TextBoxFor(p => p.endPrice, new { @placeholder = "结束价格", @min = "0.00", @step = "0.01",@style="width: 35%;height: 50",@type="number" })</td>
                                <td>
                                 
                                    @Html.TextBoxFor(p => p.Count, new { @placeholder = "数量", @min = "0", @step = "1",@style="width: 55%;height: 50" ,@pattern="[0-9]*" })</td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <p class=" text-error">
                                        @Html.ValidationMessageFor(m => m.startPrice)
                                    </p>
                                    <p class=" text-error">
                                        @Html.ValidationMessageFor(m => m.endPrice)
                                    </p>
                                    <p class=" text-error">
                                        @Html.ValidationMessageFor(m => m.Count)
                                    </p>
                                </td>
                            </tr>
                        </table>
                       
                                          
                        <button class="transaction_btn" type='submit'>卖&nbsp&nbsp出</button>
                    }
                    <div class="line_item">
                        <p class="notice">Powered by Tele-Trend Konson|美股行情至少延迟15分钟</p>
                        <p class="notice">Powered by Tele-Trend Konson|美股行情至少延迟15分钟</p>
                        <p class="notice">Powered by Tele-Trend Konson|美股行情至少延迟15分钟</p>
                        <p class="notice">Powered by Tele-Trend Konson|美股行情至少延迟15分钟</p>
                        <p class="notice">Powered by Tele-Trend Konson|美股行情至少延迟15分钟</p>
                    </div>
                </div>
        </section>

    </div>
    <script src="~/Content/BIMI/js/transction.js"></script>
    <script type="text/javascript" src="/Content/AoShaCar/AmazeUI-2.3.0/js/jquery.min.js"></script>
    <script type="text/javascript" src="/Content/AoShaCar/AmazeUI-2.3.0/js/amazeui.min.js"></script>
    <script type="text/javascript">
        $(function () {

        });
    </script>
</body>
<div style="display: none;"></div>
</html>

