@{
    Layout = "~/Areas/Admin/Views/Shared/_right.cshtml";
}
<input type="hidden" id="MenuNo" value="MenuInfo" />
<script src='/Scripts/Back/plugins/datatables/jquery.dataTables.js' type='text/javascript'></script>
<script src='/Scripts/Back/plugins/datatables/jquery.dataTables.columnFilter.js' type='text/javascript'></script>
<script src='/Scripts/Back/tables.js' type='text/javascript'></script>

@section backScripts
{

    <script type="text/javascript">
        var rootPath = "@Url.Content("~/Admin/")";
        var table = '#menustable';
        var toolbarOptions = [
           //{ text: '高级搜索', id: 'Search', handler: toolbarBtnItemClick, iconCls: 'icon-search' }

        ];
        LG.loadToolbar("tablebutton", toolbarBtnItemClick, toolbarOptions);
        $(document).ready(function () {
            //TablePage();
            var dt = $(table).dataTable({
                "processing": true,
                "serverSide": true,
                "ordering": true,
                "order": [[5, "desc"]],
                "ajax": {
                    "url": '/Admin/Menus/GetMenusForGrid',
                    "type": "POST",
                    "data": { "[Equal]MODULE_PID": "MAIN_FIRST" }
                },
                "columns": [
                    { "data": "MODULE_ID", "name": "[Equal]{main}MODULE_ID", "orderable": false },
                    { "data": "MODULE_NAME", "name": "[Contains]{main}MODULE_NAME", "orderable": "MODULE_NAME" },
                    { "data": "MODULE_CONTROLLER", "name": "[Contains]{main}MODULE_CONTROLLER", "orderable": "MODULE_CONTROLLER" },
                    { "data": "ISMENU", "orderable": "ISMENU" },
                    { "data": "ICON", "orderable": "ICON" },
                    { "data": "MODULE_LINK", "orderable": "MODULE_LINK" }

                ],
                "columnDefs": [
                      {
                          "targets": [0],
                          "visible": true
                      },
                             {
                                 "render": function (data, type, row) {
                                     return '<i class="' + data + '"></i>'
                                 },
                                 "targets": 4
                             },
                ]

            });
            $(table + ' tbody').on('click', 'tr', function () {
                $(this).toggleClass('success');

            });

            $(".nav-tabs li a").click(function () {
                // $(this).attr("data-val");
                $(table).DataTable().ajax.params({ "[Equal]MODULE_PID": $(this).attr("data-val") });
                $(table).DataTable().ajax.reload();
            });

        });
        //工具条事件
        function toolbarBtnItemClick(item) {
            var id = item.id;
            if (item.id == undefined)
                id = item.currentTarget.id;
            switch (id) {
                case "Add":
                    Jump("/admin/menus/menusdetail")
                    break;
                case "Update":
                    var selected = $("#menustable").DataTable().rows('.success').data()[0];
                    if (!selected) {
                        window.parent.LG.tip('请选择行!');
                        return
                    }
                    Jump("/admin/menus/menusdetail?id=" + selected.MODULE_ID)
                    break;
                case "Delete":

                    if (confirm('确定删除吗(该删除操作将会永久删除,一旦删除将无法挽回)?')) {
                        f_delete();
                        // 退出操作;
                    }

                    break;
                case "RealDelete":
                    $.messager.confirm('删除', '确定删除吗(该删除操作将会永久删除,一旦删除将无法挽回)?', function (r) {
                        if (r) {
                            realdelete();
                            // 退出操作;
                        }
                    });
                    break;
                case "MenuButtonConfig":
                    var selected = $(table).DataTable().rows('.success').data()[0];
                    if (!selected) {
                        window.parent.LG.tip('请选择行!');
                        return
                    }
                    Jump("/admin/menusbuttons/MenusButtonInfo?MenuID=" + selected.MODULE_ID)
                    break;
                case "selectall":
                    $(table + '  tr').toggleClass('success');
                    break;
            }
        }
    </script>
}

<div class='container-fluid'>

    <div class='row-fluid' id='content-wrapper'>

        <div class='span12'>

            <div class='row-fluid'>

                <div class='span12'>

                    <div class='page-header'>
                        <h1 class='pull-left'>
                            <i class='icon-edit'></i>
                            <span>菜单管理</span>
                        </h1>
                        <div class='pull-right'>
                            <ul class='breadcrumb'>
                                <li>
                                    <a href="index.html"><i class='icon-bar-chart'></i>
                                    </a>
                                </li>
                                <li class='separator'>
                                    <i class='icon-angle-right'></i>
                                </li>
                                <li>Forms

                                </li>
                                <li class='separator'>
                                    <i class='icon-angle-right'></i>
                                </li>
                                <li class='active'>Form components</li>
                            </ul>
                        </div>

                    </div>

                </div>

                <div id='faq'>

                    <div class='row-fluid'>

                        <div class='tabbable tabs-left'>

                            <ul class='nav nav-tabs'>

                                @foreach (var item in ViewBag.ModuleLeftMenus)
                                {
                                    <li class='@(item.MODULE_ID == "MAIN_FIRST" ? "active" : "")'>
                                        <a data-toggle='tab' href='#@item.MODULE_ID' data-val="@item.MODULE_ID">
                                            <i class='@item.ICON text-contrast'></i>
                                            @item.MODULE_NAME
                                        </a>
                                    </li>
                                }


                            </ul>

                            <div class='tab-content'>
                                <div class='row-fluid'>
                                    <div class="box-content Lgloading" id="tablebutton">
                                        <button type="button" id="selectall" class="btn btn-alt btn-sm btn-default " onclick="toolbarBtnItemClick(this)">反选</button>
                                        <div style="float: right">
                                            <button type="button" id="uncheck" class="btn btn-alt btn-sm btn-default" onclick="toolbarBtnItemClick(this)">待审核</button>
                                            <button type="button" id="checked" class="btn btn-alt btn-sm btn-default" onclick="toolbarBtnItemClick(this)">审核通过</button>
                                            @*   <button type="button" id="unchecked" class="btn btn-alt btn-sm btn-default" onclick="toolbarBtnItemClick(this)">审核未通过</button>*@
                                            @*   <button type="button" id="unpublish" class="btn btn-alt btn-sm btn-default" onclick="toolbarBtnItemClick(this)" >未提交</button>*@

                                        </div>
                                    </div>
                                </div>
                                <hr class="hr-normal">
                                <div class='row-fluid'>

                                    <div class='span12 box bordered-box orange-border' style='margin-bottom: 0;'>

                                        

                                        <div class='box-content box-no-padding'>

                                            <div class='responsive-table'>

                                                <div class='scrollable-area'>



                                                    <table id="menustable" class='data-table table table-bordered table-striped  table-hover table-striped' style="width: 100%;">
                                                        <thead>
                                                            <tr>

                                                                <th>CD</th>
                                                                <th>菜单名称</th>
                                                                <th>控制器</th>
                                                                <th>是否为菜单</th>
                                                                <th>图标</th>
                                                                <th>菜单链接</th>
                                                            </tr>
                                                        </thead>

                                                    </table>


                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>
</div>
